.ob_container {
  margin: 0 auto;
  max-width: 295px;
  padding-top: 80px;
}

.padd {
  padding-left: 20px;
  font-size: 12px;
}

.arrow {
  position: absolute;
  top: 10px;
  padding: 26px;
  padding-top: 30px;
}

.input_text {
  padding-top: 20px;
  border: 0;
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  outline: none;
}

input {
  color: #afafaa;
  font: 0, 75rem;
  padding: 11px 14px;
}

.glav_text {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  height: 450px;
}

.bottom_photo {
  background-color: rgba(99, 99, 99, 0.678);
  width: 100%;
  height: 136px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.bottom_photo_in {
  width: 22px;
  height: 24px;
}

.group {
  display: flex;
  p {
    margin: 0;
    padding: 0;
  }
  input {
    &:first-of-type {
      margin-bottom: 15px;
    }
  }
  margin-bottom: 10px;
}
