.store {
  border-radius: 50%;
  background-color: aqua;
  width: 53px;
  height: 53px;
}

.bg-cart {
  height: 100px;
  width: 50px;
  background: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 50;
}

.cart {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 100%;
    width: 53px;
    height: 53px;
    margin-bottom: 3px;
  }
}
header {
  display: flex;
  width: 100%;
  gap: 20px;
  overflow: scroll;
}

.block_header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.addImg {
  width: 100%;
}

.text {
  text-decoration: none;
  color: #33333396;

  &.active {
    color: #000;
  }
}
