.button_container {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  background: white;
  z-index: 11;
}

.button2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

img {
  width: 20px;
}
