.App {
  /* width: 414px;
  height: 896px;
  background-color: white;
  border-radius: 40px;
  padding: 60px 20px 30px; */
  max-width: 414px;
  margin: 0 auto;
  padding: 40px 20px;
}

.container {
  margin-top: 50px;
  column-count: 3;
  column-gap: 1em;
  gap: 6px;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: 0;
}
